* {
    border: solid 1px;
    box-sizing: border-box;
    font-family: 'Raleway', serif;
    margin: 0;
    padding: 0;
}

#full-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

#sidebar {
    background-color:rgb(51, 202, 252);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
}

#content {
    background-color:rgb(181, 186, 190);
}

.dash-heading {
    color: white;
    display: flex;
    font-weight: bold;
}

.feature-container {
    color: white;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 50px;
    text-align: center;
}

.dash-heading > div,
.main-features > div,
.bottom-features > div {
    align-items: center;
    display: flex;
    justify-content: center;
}

.dash-heading > img,
.main-features > div > img {
    height: 30px;
    margin-right: 10px;
}